@tailwind base;
@tailwind components;
@tailwind utilities;

header.max-w-\[1024px\] {
  /* max-width: 1024px; */
  max-width: unset;
}

.home-banner-description {
  margin-top: 20px;
}

.yellow-400 {
  background: linear-gradient(180deg, #FF9300 0%, rgba(255, 147, 0, 0.6) 100%);
}

.sky-500 {
  background: linear-gradient(180deg, #4EADFF 0%, rgba(78, 173, 255, 0.6) 100%);
}

.rose-400 {
  background: linear-gradient(180deg, #F77583 0%, rgba(247, 117, 131, 0.6) 100%);
}

.pink-300 {
  background: linear-gradient(180deg, #FF6479 0%, rgba(255, 100, 121, 0.6) 100%);
}

.blue-500 {
  background: linear-gradient(180deg, #004FC5 0%, rgba(0, 79, 197, 0.6) 100%);
}

.icon-btn {
  width: 20px;
  height: 20px;
  margin-right: 2px;
  vertical-align: middle;
}

img {
  height: -webkit-fill-available;
}

.accordion-description {
  word-break: break-word;
  width: 500px;
  color: #666666;
}

.title-size {
  font-size: 48px;
}

.width-description {
  width: 80%;
}

.display-custom {
  display: flex;
}

.text-max-w-custom {
  max-width: 400px;
}

.image-max-w-custom {
  max-width: 752px;
}

.icon-image-w-custom {
  max-width: 60px;
  min-width: 60px;
}


@media only screen and (max-width: 600px) {
  .accordion-description {
    width: auto;
  }
}

@media only screen and (min-width: 620px) and (max-width: 1023px) {
  .column-custom {
    max-width: 48%;
    flex-basis: 48%;
  }
  
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .column-custom {
    max-width: 31.33333%;
    flex-basis: 31.33333%;
  }
}

@media only screen and (min-width: 1280px) {
  .column-custom {
    max-width: 32%;
    flex-basis: 32%;
  }
}

@media only screen and (max-width: 1271px) {
  .flex-col-reverse-custom {
    flex-direction: column-reverse;
  }

  .w-full-custom {
    width: 100%;
  }

  .display-custom {
    display: none;
  }

  .flex-col-custom {
    flex-direction: column;
  }

  .image-max-w-custom {
    max-width: fit-content;
  }
}